# Environment variables
.env
.env.*
!.env.example

# Node.js
**/node_modules/
**/.next/
**/out/
**/build/
**/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Java / Maven
**/target/
*.class
*.jar
*.war
*.ear

# IDEs & System
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
*.log
admin_curl.html
